<h1> <%= @competition.name %>'s Show Page! </h1>

<h3> Name of the competition: <%= @competition.name %> </h3>
<h3> Location: <%= @competition.location %> </h3>
<h3> Sport Played: <%= @competition.sport %> </h3>
